@font-face {
	font-family: 'BahnShit'; 
	src: url(../Fonts/Bahnschrift.ttf); 
}

body{
    background-color: #eeeeee;
    background-image: url(../Images/background.png);
}

.background{
    background-color: #c1cbcf8f;
    padding-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
    height: 80%;
}

/* Navigation Bar */

.navigation{
    top: 0px;
    background-color: #ffffff;
    border: 2px, solid, rgb(90, 90, 90);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 100px;
    position: sticky;
}

/* Logo */

.logo_container{
    position: absolute;
    display: inline-block;
    width: 300px;
}
.logo{
    margin: 15px;
    margin-left: 30px;
    width: 250px;
}

/* Search Bar */

.search_container{
    margin-left: 312px;
    margin-right: 288px;
    border: #8b8b8b, 4px, solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #13eed4;
    height: 90px;
    transform: skew(-15deg);
}
.search_input{
    display: inline;
    font-family: 'BahnShit';
    font-size: 16px;
    transform: skew(15deg);
    border: #A2ACB0, 2px, solid;
    border-radius: 30px;
    margin-top: 18px;
    margin-left: 24%;
    margin-right: 1px;
    padding-left: 20px;
    width: 45%;
    height: 44px;
}
.search_button{
    transform: skew(15deg);
    font-family: 'BahnShit';
    font-size: 16px;
    border: #A2ACB0, 2px, solid;
    border-radius: 30px;
    background-color: #ffffff;
    height: 48px;
    width: 48px;
}
.search_button:hover{
    color: #13eed4;
    border: #ffffff, 2px, solid;
    background-color: #00000000;
    cursor: pointer;
}
.search_button:active{
    transform: scale(0.95) skew(15deg);
}
.search_button_icon{ 
    width: 30px;
}

/* Authorization Buttons */

.auth_container{
    position: absolute;
    display: inline-block;
    padding-top: 19px;
    width: 250px;
    right: 0px;
    top: 0px;
}
.auth_button{
    display: inline;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
#login{
    color: white;
    background-color: black;
    width: 90px;
    height: 50px;
}
#login:hover{
   background-color: #13eed4;
   cursor: pointer;
}
#login:active{
    transform: scale(0.95);
}
#register{
    background-color: rgba(0, 0, 0, 0);
    width: 120px;
    height: 50px;
    border: black solid 2px;
    font-weight: bold;
    margin-right: 5px;
}
#register:hover{
   color: #13eed4;
   border-color: #13eed4;
   cursor: pointer;
}
#register:active{
    transform: scale(0.95);
}

/* Shared Authentification Pages Styles */

.auth_header{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 25px;
    border: #8b8b8b, 4px, solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
    background-color: #17d6c0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.auth_desc{
    font-family: "BahnShit";
    font-size: 13px;
    color: rgb(131, 131, 131);
    padding: 10px;
    text-align: center;
    line-height: 15px;
}
.auth_text{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 22px;
    color: rgb(59, 59, 59);
    margin: 5px;
    margin-top: 20px;
}
.auth_input{
    display: inline;
    font-family: 'BahnShit';
    font-size: 15px;
    border: #A2ACB0, 2px, solid;
    border-radius: 5px;
    padding-left: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 48px;
}
.auth_form{
    margin-left: 55px;
    margin-right: 55px;
}
.auth_redirect{
    font-family: "BahnShit";
    font-size: 15px;
    color: rgb(131, 131, 131);
    margin-top: 12px;
    line-height: 15px;
}

/* Login Page */

.login_container{
    background-color: rgb(255, 255, 255);
    border: 1px, solid, rgba(122, 122, 122, 0.452);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 500px;
}
.login_button{
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 90px;
    height: 50px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.login_button:hover{
   background-color: #13eed4;
   cursor: pointer;
}
.login_button:active{
    transform: scale(0.95);
}
/* Registration Page */

.register_container{
    background-color: rgb(255, 255, 255);
    border: 1px, solid, rgba(122, 122, 122, 0.452);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 600px;
 }
.register_button{
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 190px;
    height: 50px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.register_button:hover{
   background-color: #13eed4;
   cursor: pointer;
}
.register_button:active{
    transform: scale(0.95);
}

/* Content */

.content_container{
    background-color: #c1cbcf;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    height: 3350px;
}
.content{
    margin: 25px;
    margin-top: 0px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    border: 2px #eeeeee, solid;
}

/* Footer */

.footer_container{
    position: relative;
    margin-top: 100px;
}
footer{
    position: absolute;
    bottom: 0px;
    background-color: #a4b0b6;
    border: 2px, rgb(90, 90, 90), solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    height: 100px;
    width: 100%;
}
